body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(146, 142, 142);
}

.container {
    width: 320px;
    margin: 120px auto;
    background-color: black;
    border-radius: 4%;
    padding: 15px;    
} 

table {
    width: 100%;
}

td {
    width: 25%;
}

button { 
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(63, 61, 61);
    border: none;
    color: white;
    padding: 18px;
    outline: none;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: rgb(105, 103, 103);;
}

#ac {
    background-color: rgb(78, 91, 104);
}

#ac:hover {
    background-color: rgb(117, 128, 141);
   
}

#display {
    height: 120px;
    font-size: 50px;
    color: white;
    vertical-align: bottom;
    text-align: right;
    padding-right: 26px;
}

.operator {
    background-color: tomato;
}

.operator:hover {
    background-color: rgb(240, 129, 110);
}