body {
    font-family: Arial;
    margin: 0; 
}

.wrapper {
    margin-left: 70px;
    margin-right: 70px;
}

h1 {
    padding-top: 10px;
}

h3 {
    color: rgb(37, 156, 156);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(133, 130, 130, 0.5);
    height: 50px;
}

.navbar a {
    margin-left: 70px;
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase ;
}

img {
    width: 500px;
   
}