body {
    font-family: Arial;
   
   
}

h1 {
    position: center center;
    font-size: 180px;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(133, 130, 130, 0.5);
    height: 50px;
}

.navbar a {
    margin-left: 70px;
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase ;
}

.main {
    margin-top: 180px;
    columns: rgb(48, 100, 177) ;
   
}
