body {
    margin: 0;
    background: #3574F3;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

h1 {
    width: 348px;
   
    margin-left: 70px;
    margin-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    
}

.border {
    width: 378px;
    margin-left: 70px;
    margin-top: 50px;
    border: 1px solid #FFFFFF;
}

.name {
    width: 1000px; 
    margin-left: 70px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
}

.email {
    width: 1000px;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
}

.pw {
    width: 1000px;  
    margin-left: 70px;
    margin-top: 50px;  
    font-size: 24px;
    line-height: 28px; 
}

.birth {
    width: 154px;  
    margin-left: 70px;
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
}

.gender {
    width: 120px;
    margin-left: 71px;
    margin-top: 40px;
    font-size: 24px;   
}

.button {
    margin-top: 20px;
}

.radio {   
    width: 25px;
    height: 25px;  
}


.male, .female {
    width: 99px;
    height: 25px;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.empty {
    display: flex;
    width: 100px;
    margin-left: 70px;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dot-activ {
    width: 18px;
    height: 19px;
    margin-left: 20px;
    background: #FFFFFF;
    border-radius: 50%;
}

.dot-inactiv {
    margin-left: 20px;
    width: 18px;
    height: 19px;
    background: #C4C4C4;
    border-radius: 50%;
}

.weiter {
    display: flex; 
    margin-right: 70px;
    
}

.link {
    color: #FFFFFF;  
    width: 69px;
    height: 28px;    
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    text-decoration: none;

}

.img {
    margin-left: 20px;
    width: 28px;
    height: 28px;
}

input {
    border: none;
    background-color: #3574F3;
    color: white;
   
    margin-left: 70px;
    font-size: 24px;
    line-height: 28px;  
}

input:focus { 
    outline: none;
}

::placeholder {
    color: #FFFFFF;  
}


