* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.wrapper {
    margin: 100px auto;
    width: 500px;
    background-color: rgb(219, 218, 218);
    border-radius: 10px;
    padding: 100px;

}

.field {
    padding: 5px;
    font-size: 17px;
}

.birth {
    margin-right: 20px;
}

.checkbox {
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.agb {
    font-size: 15px;
    opacity: 0.5;
}

.button {
    font-size: 20px;
    padding: 5px;
   
}